body {
  background-color: #44496f; /* Light blue background */
  color: #ffdea1;
  font-family: "Arial", sans-serif; /* Change the font for the entire page */
}

.container {
  margin-top: 5%; /* Add some top margin for the content */
  background-color: #44496f;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(250 55 2 / 16%); /* Add a subtle box shadow to cards */
  margin-bottom: 14px; /* Adjust the space between cards */
}

.card-title {
  font-size: 30px;
  margin-bottom: 10px; /* Adjust spacing below card title */
}

.card-text {
  font-size: 12px;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 10px;
  padding: 10px 20px; /* Increase padding for text inputs */
}

.btn-primary {
  border-radius: 10px;
  padding: 10px 20px; /* Increase padding for buttons */
  background-color: #f1b950; /* Yellow dark button color */
  color: #181719;
  border: none; /* Remove button border */
}

.btn-primary:hover {
  background-color: #f7a50d; /* Darker yellow on hover */
}

.btn-secondary {
  border-radius: 5px;
  background-color: #f1b950;
  color: #181719;
  border: none;
}

.btn-secondary:hover {
  background-color: #f7a50d;
}

/* Additional styles for links */
a {
  text-decoration: none; /* Remove underlines from links */
  color: #007bff; /* Blue link color */
}

a:hover {
  color: #0056b3; /* Darker blue on hover */
}

.bg-light-grey {
  background-color: #44496f; /* A slightly darker shade of light grey */
}

.navbar {
  /* position: fixed;
  top: 0; */
  width: 100%;
  background-color: #181719;
  height: 100px;
}

.navbar-brand {
  overflow: hidden;
  object-fit: cover;
}

/* #signout-btn {
  display: inline-block;
  padding: 0;
  margin: 0;
  
} */

#signout-btn {
  background-image: url("../images/bat_symbol_red.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100% 100%;
  vertical-align: bottom;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  border: 1;

  color: #ffdea1;
  /* height: 45px;
  width: 100px; */
  height: 40px;
  width: 80px;
}

#logophoto {
  width: auto;
  height: 100px;
  /* float: left; */
  /* padding-left: 2%; */
  /* margin: 0; */
  /* padding: 10px 0; */
  /* overflow: hidden; */
}

#logophoto img {
  /* object-fit:cover;
  overflow: hidden; */
  height: 90%;
  width: 100%;
}

/* How card looks while just sitting there */
.contact-card {
  background-color: #181719;
  border-radius: 10px;
  cursor: pointer;
  padding: 1px;
  /* height: 180px; */
  width: 95%;
  transition: 0.5s ease;
}

/* How card moves when mouse hovers over */
.contact-card:hover {
  transform: scale(1.01) translateX(20px);
  transform: 1s ease;
}

.contact-cards-container {
  height: calc(100vh - 116px);
  overflow-y: auto;
  background-color: #1d2434;
}

.form-container {
  position: relative;
  width: 100%;
  transition: all 0.6s ease-in-out;
}
.form-toggle {
  cursor: pointer;
  font-weight: bold;
}
.form-group {
  margin-top: 15px;
}
.hidden {
  display: none;
}

#loginError,
#signupError {
  margin-top: 10px; /* Adds space above the error message */
  margin-bottom: 10px; /* Adds space below the error message */
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px; */
}

.contact-detail {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 20px;
  /* padding: 50px; */
}

.contact-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

/* Align the contact-detail labels to the right */
.contact-detail-label {
  font-weight: bold;
  margin-right: 5px;
}

/* Add custom styles for the email and phone icons, etc. */
.icon {
  margin-right: 5px;
}

#loginError.alert.alert-danger {
  color: red; /* example */
}
